*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: silver;
text-align: center;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
}
#card{
    background-color: white;
    width: 40%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 12px grey;
}


#picture img{
    width: 100px;
    text-align: center;
    border-radius: 50%;
    transition: transform 1s ease;
}
#picture img:hover{
    transform: scale(1.1);
}
#name{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: large;
    padding: 20px;
}
#passion{
    text-align: center;
    font-size: large;
    padding: 5px;
}
#instagram,#github{
    margin: 2px;
    padding: 10px;
    display: inline-flex;
}

#instagram a, #github a {
    background-color: grey;
    border-radius: 10%;
    padding: 10px;
    color: aliceblue;
    transition: transform 1s ease;  
}

#instagram a:hover, #github a:hover {
    transform: scale(1.1);
}
@media (max-width: 600px) {
    #card {
        width: 90%; /* Card becomes narrower on small screens */
    }

    #ids {
        flex-direction: column; /* Arrange child elements vertically */
         align-items: center; /* Center them horizontally */
    }

     #instagram, #github {
        margin: 10px 0; /* Add vertical spacing between Instagram and GitHub */
    } 
}
